p 

{ 

background:;
color: yellow; 
width: 300px

}

body { 
	background-color:black;
	margin-left:800px;
	margin-top: 10px;
	margin-bottom: 50px;
	padding: 10px 10px 10px 10px;
	font-family:"calibri" 

}

 h1 {color: yellow;
 	font-size:100px;

 }


 h2 {color: white;
 font-size: 30px;
  }

 h3 {color: yellow; 
 	font-size:25px; 

 }

 a {color: yellow; }



